html {
  font-family: "Calibri", sans-serif;
}

body {
  margin: 0;
  background-color: #fbafaf;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120vh;
}

section,
form {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #5d3ecd;
  margin: 2rem;
  max-width: 30rem;
}

section {
  width: 20rem;
}

table,
th,
td {
  padding: 0.2rem;
  border-collapse: collapse;
  border: 1px solid rgb(31, 23, 25);
}

.form-control {
  margin: 1rem 0;
}

input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input:focus {
  outline: none;
  border-color: #d85001;
}

input,
label {
  display: block;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #ff9800;
}

button {
  background-color: #e7f03b;
  border: none;
  color: white;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
}

button:hover,
button:active {
  background-color: #9f5f00;
}